.jumbotron {
    background: no-repeat center/100% url(/images/encabezado.jpg);
    color: whitesmoke;
    text-align: start;
    margin-top: 50px;
}

.card-columns {
    display: inline-block;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.alert {
    display: inline-block;
}

.tab-content {
    padding-top: 10px;
}

.footer-address-icon {
    padding-right: 10px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: black;

    margin-bottom: 0px;
    margin-top: 10px;
}
