$yellow: #a3a248;

@mixin  margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;    
}

@mixin padding($left, $right, $top, $bottom) {
    padding-left: $top;
    padding-right: $right;
    padding-top: $top;
    padding-bottom: $bottom;
    
}

.jumbotron {
    background: no-repeat center/100% url(/images/encabezado.jpg);
    color: whitesmoke;
    text-align: start;
    @include margenes(50px, 10px);
}

.card-columns {
    display: inline-block;
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.alert {
    display: inline-block;
}

.tab-content {
    @include padding(0px, 0px, 10px, 0px);
}

.footer-address-icon {
    @include padding(0px, 10px, 0px, 0px);
}

footer {
    @include padding(10px, 10px, 0px, 10px);
    background-color: $yellow;
    @include margenes(10px, 0px)
}
