.jumbotron {
  background: no-repeat center/100% url(/images/encabezado.jpg);
  color: whitesmoke;
  text-align: start;
  margin-top: 50px;
  margin-bottom: 10px; }

.card-columns {
  display: inline-block; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.alert {
  display: inline-block; }

.tab-content {
  padding-left: 10px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 0px; }

.footer-address-icon {
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px; }

footer {
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
  background-color: #a3a248;
  margin-top: 10px;
  margin-bottom: 0px; }
